In [21]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [22]:
savedTweet = []
tweetCount = 10000
query = '("merdeka belajar" OR #merdekabelajar) -filter:replies'

for i,tweet in enumerate(sntwitter.TwitterSearchScraper(query + 'since:2021-01-01 lang:id').get_items()):
    if i > tweetCount - 1:
        break
    savedTweet.append([tweet.date, tweet.username, tweet.content])

C:\Users\LENOVO\AppData\Local\Temp/ipykernel_27140/1639970249.py:8: FutureWarning: username is deprecated, use user.username instead
  savedTweet.append([tweet.date, tweet.username, tweet.content])

In [23]:
dataSave = pd.DataFrame(savedTweet)
dataSave[0] = dataSave[0].apply(lambda a: pd.to_datetime(a).date())
dataSave.to_csv("tweetMined/datasett.csv", index=False)
dataSave.to_excel("tweetMined/datasett.xlsx", index=False)
dataSave

,0,1,2
0,2022-01-18,Haidar_Bagir,"Tulisan saya: ""Jangan Overrate! Sekolah Hanyal..."
1,2022-01-18,fe_ubb,Selamat kepada Jurusan Manajemen Universitas B...
2,2022-01-18,KemahasiswaanUI,"Teman – teman mahasiswa, yuk ikutan dan cari t..."
3,2022-01-18,Kemdikbud_RI,"Yuk, cari tahu istilah lainnya dalam bahasa In..."
4,2022-01-18,Kemdikbud_RI,"#SahabatDikbud, dalam satu hari terkadang kita..."
...,...,...,...
9995,2021-05-02,LPDBKUMKM,Selamat Hari Pendidikan Nasional!\n\nSejak pan...
9996,2021-05-02,zenastri,Selamat Hari Pendidikan Nasional. Serentak ber...
9997,2021-05-02,newPENAWANGAN,Kepolisian Negara Republik Indonesia mengucapk...
9998,2021-05-02,Bakulgodong1,@jprstyo__ @GodD4mn1t @WagimanDeep212_ @Mend0a...
9999,2021-05-02,WijayaMataram,merdeka belajar.\ndari oleh untuk desa. https:...